 .carousel {
      width: 100%;
      height: 100%;
      padding-bottom: 20%;
    }
    
    .carousel-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      transition: transform 0.5s ease;
    }
    
  
    
    .carousel-item video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    
    